<h1>Customer Navigation</h1>
<link rel="stylesheet" href="/css/main.css">
<h1>My Booked Flights</h1>
<ul id="flights-list" class="styled-list">
    <% flights.forEach(flight => { %>
        <li>
            Flight: <%= flight.flight_number %> - <%= flight.departure_airport %> to <%= flight.arrival_airport %> on <%= new Date(flight.departure_datetime).toLocaleString() %> - Sold Price: $<%= flight.sold_price %>
        </li>
    <% }) %>
</ul>

<nav>
    <a href="/customer/ratings" class="btn">Ratings</a>
    <a href="/customer/flights" class="btn">Search Flights</a>
    <a href="/customer/purchase" class="btn">Purchase Ticket</a>
    <a href="/customer/spending" class="btn">View Spending</a>
</nav>